<div class="mx-auto flex mt-7 mb-14 flex centering items-center mb-3 rounded-lg">
    <img class="theimage" src="https://cdn.discordapp.com/attachments/1017708867808927744/1215246555066662932/Green_Brown_Retail_and_Services_Dynamic_Shapes_and_Frames_LinkedIn_Banner.png?ex=65fc0d8c&is=65e9988c&hm=3e51e73b55fe9509abc736c08f021d528207ec8d77a60cfc21ce3c03f04bf9c8&" alt="" srcset="">
</div>

<style>
    .centering{
        display: flex;
        justify-content: center;
        align-items: center;
        /* rounding the image */
      
    }
    .image{
        border-radius: 50%;
        /* shadow the image */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      

    }
      /* animate theimage class while hover */
    .theimage:hover{
        transform: scale(1.1);
        transition: transform 0.5s;
    }
    /* mouse change while howver */
      
    .theimage:hover{
        cursor: pointer;
    }
</style>