<section
class="bg-center dd  bg-no-repeat  bg-[url('https://images.pexels.com/photos/825949/pexels-photo-825949.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2')] bg-yellow-500 bg-blend-multiply ">
<div class="px-1 mx-auto max-w-screen-xl text-center ">

<app-search-bar></app-search-bar>


   

</div>

</section>

<style>
.dd{
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply;
    /* add some blur just to image */
    
}

</style>