<div class="flex gap-8 cardscontainer">
  <div>
    <!-- Snippet -->
    <section class="flex flex-col justify-center antialiased text-gray-600">
      <div class="h-full">
        <!-- Card -->
        <div class="carde max-w-xs mx-auto">
          <div
            class="flex flex-col h-full bg-white shadow-lg rounded-lg overflow-hidden"
          >
            <!-- Image -->
            <a class="block focus:outline-none focus-visible:ring-2" href="#0">
              <figure class="relative h-0 pb-[56.25%] overflow-hidden">
                <img
                  class="absolute inset-0 w-full h-full object-cover transform hover:scale-105 transition duration-700 ease-out"
                  src="https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/33150873/1/?bust=1454434953&width=316"
                  width="320"
                  height="180"
                  alt="Course"
                />
              </figure>
            </a>
            <!-- Card Content -->
            <div class="flex-grow flex flex-col p-5">
              <!-- Card body -->
              <div class="flex-grow">
                <!-- Header -->
                <header class="mb-3">
                  <a
                    class="block focus:outline-none focus-visible:ring-2"
                    href="#0"
                  >
                    <h3
                      class="text-[22px] text-gray-900 font-extrabold leading-snug"
                    >
                      <span class="font-bold text-stone-800">Name:</span> friday
                    </h3>
                  </a>
                </header>
                <!-- Content -->
                <p class="font-bold">
                  Category: <span class="font-normal"> Cat</span>
                </p>
                <p class="font-bold">
                  Breed: <span class="font-normal">Angora</span>
                </p>
                <p class="font-bold">
                  Age: <span class="font-normal">3 Years </span>
                </p>
              </div>
              <!-- Card footer -->
              <div class="flex justify-end space-x-2">
                <a
                  class="font-semibold text-sm inline-flex items-center justify-center px-3 py-1.5 border border-transparent rounded leading-5 shadow-sm transition duration-150 ease-in-out bg-amber-700 focus:outline-none focus-visible:ring-2 hover:bg-amber-900 text-white"
                  href="#0"
                  >Adopt Now</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- More components -->
  </div>
  <div>
    <!-- Snippet -->
    <section class="flex flex-col justify-center antialiased text-gray-600">
      <div class="h-full">
        <!-- Card -->
        <div class="carde max-w-xs mx-auto">
          <div
            class="flex flex-col h-full bg-white shadow-lg rounded-lg overflow-hidden"
          >
            <!-- Image -->
            <a class="block focus:outline-none focus-visible:ring-2" href="#0">
              <figure class="relative h-0 pb-[56.25%] overflow-hidden">
                <img
                  class="absolute inset-0 w-full h-full object-cover transform hover:scale-105 transition duration-700 ease-out"
                  src="https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/64272886/1/?bust=1683811643&width=316"
                  width="320"
                  height="180"
                  alt="Course"
                />
              </figure>
            </a>
            <!-- Card Content -->
            <div class="flex-grow flex flex-col p-5">
              <!-- Card body -->
              <div class="flex-grow">
                <!-- Header -->
                <header class="mb-3">
                  <a
                    class="block focus:outline-none focus-visible:ring-2"
                    href="#0"
                  >
                    <h3
                      class="text-[22px] text-gray-900 font-extrabold leading-snug"
                    >
                      Name: Milton
                    </h3>
                  </a>
                </header>
                <!-- Content -->
                <p class="font-bold">
                  Category: <span class="font-normal"> Cat</span>
                </p>
                <p class="font-bold">
                  Breed: <span class="font-normal">Siamese</span>
                </p>
                <p class="font-bold">
                  Age: <span class="font-normal">2 Years </span>
                </p>
              </div>
              <!-- Card footer -->
              <div class="flex justify-end space-x-2">
                <a
                  class="font-semibold text-sm inline-flex items-center justify-center px-3 py-1.5 border border-transparent rounded leading-5 shadow-sm transition duration-150 ease-in-out bg-amber-700 focus:outline-none focus-visible:ring-2 hover:bg-amber-900 text-white"
                  href="#0"
                  >Adopt Now</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- More components -->
  </div>
  <div>
    <!-- Snippet -->
    <section class="flex flex-col justify-center antialiased text-gray-600">
      <div class="h-full">
        <!-- Card -->
        <div class="carde max-w-xs mx-auto">
          <div
            class="flex flex-col h-full bg-white shadow-lg rounded-lg overflow-hidden"
          >
            <!-- Image -->
            <a class="block focus:outline-none focus-visible:ring-2" href="#0">
              <figure class="relative h-0 pb-[56.25%] overflow-hidden">
                <img
                  class="absolute inset-0 w-full h-full object-cover transform hover:scale-105 transition duration-700 ease-out"
                  src="https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/63231030/1/?bust=1682138919&width=720"
                  width="320"
                  height="180"
                  alt="Course"
                />
              </figure>
            </a>
            <!-- Card Content -->
            <div class="flex-grow flex flex-col p-5">
              <!-- Card body -->
              <div class="flex-grow">
                <!-- Header -->
                <header class="mb-3">
                  <a
                    class="block focus:outline-none focus-visible:ring-2"
                    href="#0"
                  >
                    <h3
                      class="text-[22px] text-gray-900 font-extrabold leading-snug"
                    >
                      Name: Rex
                    </h3>
                  </a>
                </header>
                <!-- Content -->
                <p class="font-bold">
                  Category: <span class="font-normal"> Dog</span>
                </p>
                <p class="font-bold">
                  Breed: <span class="font-normal">labrador</span>
                </p>
                <p class="font-bold">
                  Age: <span class="font-normal">1 Years </span>
                </p>
              </div>
              <!-- Card footer -->
              <div class="flex justify-end space-x-2">
                <a
                  class="font-semibold text-sm inline-flex items-center justify-center px-3 py-1.5 border border-transparent rounded leading-5 shadow-sm transition duration-150 ease-in-out bg-amber-700 focus:outline-none focus-visible:ring-2 hover:bg-amber-900 text-white"
                  href="#0"
                  >Adopt Now</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <style>
      .cardscontainer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* i wanna remove some margin in top */

        margin-top: -30px;
      }
      .carde {
        /* i wanna give them a good size for a small cards  and add some effects and cool stuff*/
        width: 320px;
        height: 20;
        border-radius: 20px;
        box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.2);
        transition: 0.4s ease-out;
        cursor: pointer;
        overflow: hidden;
      }
      .cardscontainer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* make them responsive in mobile and all sizes */
        flex-wrap: wrap;
      }
      .carde {
        /* make them responsive */
        flex: 1 1 300px;
      }
    </style>
  </div>
</div>
