<!-- <img src="https://export-download.canva.com/GABVA/DAF5x4GABVA/5/0/0001-3733899461917626327.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJHKNGJLC2J7OGJ6Q%2F20240112%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240112T225942Z&X-Amz-Expires=62053&X-Amz-Signature=2ff6e799f22d0aca03e2d9608cc5a7e87d299c4ebb2d89e624e1e6ca259b9091&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%2A%3DUTF-8%27%27Adoptek.png&response-expires=Sat%2C%2013%20Jan%202024%2016%3A13%3A55%20GMT" class="logo ng-enter" />
<style>
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


</style> -->

<router-outlet></router-outlet>
