<app-navbar></app-navbar>

<main class="">
<app-jumbotron></app-jumbotron>

</main>


<section class="mt-12 ">
    <div class="anh1 mb-12">
        <a class="alink" href="#">Pets Available for Adoption ></a>
    </div>


    <app-pets-three-card> </app-pets-three-card>


</section>
<app-statistics></app-statistics>

<app-articels-cards></app-articels-cards>


<app-story-section></app-story-section>

<app-before-footer></app-before-footer>
<app-footer></app-footer>

<style>
    .anh1 {
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        color: #A54B0A;
    }
    /* underline when hover */
    .alink {
        text-decoration: none;
        color: #A54B0A;
        
    }
    .alink:hover {
        text-decoration: underline;
    }

  
   
</style>